.navbar{
    display: flex;
    justify-content: space-evenly;
   }
#rightside{
    display: flex;
    justify-content: space-evenly;
    
}
#rightside>p{
    border-radius: 20px;
    background: gainsboro;
    padding: 5px;
    width: 4vw;
    height: 4vh;

}
.songs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
    padding: 10px 10px;    
     margin-top: 10px; 
    margin-bottom: 0px;
  
  }
  .sidebar{
    float: left;
    margin-top: 10px;
    width:25vw ;
     margin-right:5px;
     margin-top: 10px;
     margin-left: 10px;
     
  }
  a:link, a:visited{
    color:black ;
    text-decoration: none;
  }
  a:hover{
      background-color: gainsboro;
  }