.navbar>nav{
    display:flex;
    justify-content:space-around;
    float: left;
  width: 100%;
  text-align: center;
  padding: 12px 12px;
  transition: all 0.3s ease;
  color: rgb(32, 8, 8);
  
    
   
}
p>img{
    height: 15px;
    width: 15px;
}
div>sidebar{
    display: flex;
    justify-content: space-between;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20vw; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
sidebar>ul>a {
    padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display:flex;
}
sidebar{
    height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  overflow-x: hidden;
  padding: 16px;
}
sidebar>.a{
    padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color:white;
  display: block;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 160px; 
    padding: 0px 10px;   
    
}
li{
    list-style: none;
}
nav>h1{
    width: 160px;
}