.navbar{
    display:flex;
    justify-content:space-around;
    float: left;
  width: 100%;
  text-align: center;
  padding: 12px 12px;
  transition: all 0.3s ease;
  color: rgb(32, 8, 8);
  height: 8vh;
  margin-bottom: 20px;
}