 .navbar{
    display:flex;
    justify-content:space-evenly;
    float: left; 
   width: 100%;
  padding: 12px 12px;
  transition: all 0.3s ease;
  color: rgb(32, 8, 8);
  height: 8vh;
  margin-bottom: 20px;
} 

.sidebar{
  float: left;
  margin-top: 10px;
  width:25vw ;
  
  margin-right: 50px;
  
  
}
div> .contentarea{
  margin-left: 50px;
  margin-top: 10px;
  margin-right: 10px;
  float:right;

}
.songs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 200px; 
 /* padding: 10px 10px;    */
   margin-top: 1px; 
  margin-bottom: 0px;
  float: right;
}
li{
  list-style: none;
}
li>a {
  padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 20px;
  display:flex;
}
#secondfromtop>ul{
  display: flex;
  flex-wrap:wrap;
  justify-content:space-evenly ;
  margin-left:50px; 
  padding: 10px 10px 10px 10px;   
  margin-top: 10px;
  margin-bottom: 0px;
  
}
a:link, a:visited{
  color:default ;
}
