.navbar{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin:10px;
    padding: 10px;
}

.sidebar{
    float: left;
    margin-top: 30px;
    width:25vw ;
    height: auto;
    
}
.songs>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 200px; 
    padding: 10px 10px;   
    margin-top: 50px;
    float: right;
}
li{
    list-style: none;
}
li>a {
    padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
    display:flex;
}
